{% load static %}
{% load tailwind_tags %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% tailwind_css %}
</head>

<body class="min-h-screen bg-gray-50 text-gray-900 dark:bg-black dark:text-white transition-colors duration-300">
    <nav class="bg-violet-600 p-4 flex justify-between items-center text-white">
        <a href="{% url 'home' %}" class="font-bold text-xl">Inicio</a>
        <div class="space-x-4">
            <a href="/pliope/" class="hover:underline">Personas</a>
            <a href="/users/login/" class="hover:underline">Login</a>
            <a href="/users/register/" class="hover:underline">Registro</a>
        </div>
    </nav>

    <main class="p-6">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-amber-700 text-white text-center py-3 mt-8">
        Creating a New World
    </footer>
</body>
</html>
