main {
  background: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;         
}

footer {  
  background: #0a0a0a;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
}


nav{
  background-color: pink;
  justify-content: center;
  color : green
}
